body {
    background-color: #eeffee;
}

.panel > .panel-heading {
    color: #fff;
    background-color: #449d44;
    background-image: none;
    border-color: #398439;


}

.list-group > .list-group-item {
    background-image: none;
    background-color: #eeffee;
}

.heading {
    color: #004421;
}

#connectButton {
    width: 100vw;
    height: 10vh;
    margin: 2px;
}

#LeftForwardButton {
    width: 100%;
    height: 30vh;
    margin: 2px;
}

#RightForwardButton {
    width: 100%;
    height: 30vh;
    margin: 2px;
}

#LeftStopButton {
    width: 100%;
    height: 30vh;
    margin: 2px;
}

#RightStopButton {
    width: 100%;
    height: 30vh;
    margin: 2px;
}

#LeftBackwardButton {
    width: 100%;
    height: 30vh;
    margin: 2px;
}

#RightBackwardButton {
    width: 100%;
    height: 30vh;
    margin: 2px;
}