.div-no-padding {
    padding: 0px;
    margin: 0px;
}

#connectButton {
    width: 100vw;
    height: 10vh;
}

#LeftForwardButton {
    padding: 0px;
    margin: 0px;
    border: 0 none;
    width: 45vw;
    height: 30vh;
}

#RightForwardButton {
    padding: 0px;
    margin: 0px;
    border: 0 none;
    width: 45vw;
    height: 30vh;
}

#LeftStopButton {
    padding: 0px;
    margin: 0px;
    border: 0 none;
    width: 45vw;
    height: 30vh;
}

#RightStopButton {
    padding: 0px;
    margin: 0px;
    border: 0 none;
    width: 45vw;
    height: 30vh;
}

#LeftBackwardButton {
    padding: 0px;
    margin: 0px;
    border: 0 none;
    width: 45vw;
    height: 30vh;
}

#RightBackwardButton {
    padding: 0px;
    margin: 0px;
    border: 0 none;
    width: 45vw;
    height: 30vh;
}